/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1c1a1a;
  color: #fff;
}

.brand {
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 1rem;
}

/* Reset button defaults */
.menu button {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0; /* Reset padding */
  font-size: inherit; /* Inherit font size */
  cursor: pointer;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle.active + .menu {
  display: flex;
}


